{% extends 'layout.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block css %} {% endblock %}

{% block main %}
    <h2>Calcule EAN</h2>
    <input type="text" id="textEan" name="textEan" required="required" pattern="[0-9]{12}" />
    <button id="btn"  class="btn btn-success">Calculer</button>
    <p id="code"></p>
    <p id="key"></p>
    <p id="codeWithKey"></p>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#btn').click( function request () {
            alert("entre dans la fonction");
            let ean = $("#textEan").val();
            $.ajax({
                url: '{{ path('response') }}',
                type: 'GET',
                data:{ean: ean},
                success: function (data) {
                    $("#code").text("Code EAN : "+ean);
                    $("#key").text("Clé du code EAN : "+data);
                    $("#codeWithKey").text("Code EAN avec la clé : "+ean+data);
                    alert(ean+data);
                    console.log(ean+data);
                }
            })
        });
    </script>
{% endblock %}
